:root {
    --color-background: hsl(24, 100%, 90%);
    --color-text: #2F2F2F;
    --color-text-secondary: #646464;

    --color-white: #FFFFFF;

    --color-main: #c21d03;
    --color-main-alt: #DAA520;

    --color-accent-1: #006400;
    --color-accent-2: #fd5732;
    
    --color-border: #A0522D;

    --color-interactive-bg: #E6BE8A;
    --color-interactive-text: #FFFFFF;
}